
/* bigshot one font   //Cabin Condensed */
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body,html{margin:0;padding:0;height:100%;}


body{
	background-color: #212121;
  background-size:cover;
  font-family: 'Inconsolata', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

svg{font-weight:bold;max-width:800px;height:100%;}

.button {
	background-color: White; /* Green */
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	border-radius: 4px;
}
p {
color: white;
}
.center {
	top: 50%
  margin: auto;
  width:50%;
  padding: 10px;
}

#centerbutton {
	top: 50%
  margin: auto;
  padding: 10px 24px;
}
